################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThemeStudio/bin
/packages
/.vs/ThemeStudio
/ThemeStudio/obj
/ThemeStudio/outputs
/ThemeStudio/outputzip
/ThemeStudio/wwwroot/output/
.vs/ProjectEvaluation/themestudio.metadata.v5.1
.vs/ProjectEvaluation/themestudio.projects.v5.1
